.container{
    padding: 24px;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.header{
    display:flex;
    justify-content:center;
    align-items: center;
    margin: 2rem;
}
.main{

}
.footer{
    margin-top: 32rem;
    font-size: 0.8rem;
    text-align: center;
}